@{
    ViewBag.Title = "Capturar";
}

<h2>Capturar</h2>

<h2>@ViewBag.Captura</h2>

<a class="btn btn-primary" href="/Pokemon/Index?id=@ViewBag.usuario">Volver a capturar</a>
<a class="btn btn-success" href="/Pokemon/MisPokemon?id=@ViewBag.usuario">Ir a mis capturas</a>
